@{
    ViewBag.Title = "Контактная информация";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-lg-6">
    <strong>Димон:</strong><p>номер телефона</p><br/>
    <strong>Леха:</strong><p>номер телефона</p><br />
</div>

<div class="col-lg-6">
    <iframe src="https://yandex.ru/map-widget/v1/-/CBUcUCeAsD" width="500" height="400" frameborder="0"></iframe>
</div>
