
@{
    ViewBag.Title = "Заказ оформлен";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Поздравляем!</h2>

<p>Вы, совершенно случайно, оказались счастливым покупателем, поэтому пропустим страницу оплаты и заказ за наш счет! </p>
<p>Ваш номер заказа @ViewBag.ValidationKey , предъявите его в кассе и получите билет.</p> 
<p>Приходите еще!</p>

