
@{
    ViewBag.Title = "Залы кинотеатра";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Наши залы</h2>
@{
    IEnumerable<KINO.Models.Hall> halls = ViewBag.Halls;
    Html.RenderPartial("HallsSlideshow", halls);
}


