@font-face {
    font-family: "NEXTART";
    src: url(../fonts/NEXTART.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
    font-family: "NEXTART", Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    background: #161a23;
    min-height: 60px;
}
.nav>li>a{
    color: #fff !important;
}
.nav > li > a:hover {
    color: #f6a21c !important;
}
.menu-item-active{
    color: #fff;
    border-bottom: solid 3px #f6a21c;
}
footer {
    background: #161a23;
    min-height: 120px;
    color: #fff !important;
    position: absolute;
    left: 0;
    right: 0;
}
footer li{
    display: block;
}
footer a:hover {
    text-decoration: none;
    color: #fff;
}
footer a[href*="/"]:hover {
    text-decoration: none;
    color: #f6a21c;
}
footer a {
    color: #fff;
}
footer>p{
    margin: 0;
}
footer .container{
    max-width: 768px;
}
