

@model KINO.Models.PageInfo
 @using KINO.Helpers
@*        @Html.TextBox("searchPattern")
        <input type="submit" value="Поиск" />
@using (Ajax.BeginForm("Index", "Manage", new AjaxOptions { UpdateTargetId = "results" }))
{
<div id="results">*@
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Дата и время заказа</th>
                    <th>Дата и время сеанса</th>
                    <th>Название фильма</th>
                    <th>Название зала</th>
                    <th>Стоимость заказа</th>
                    <th>Количество билетов</th>
                </tr>
            </thead>
                @foreach (KINO.Models.UserOrdersHistory history in ViewBag.History)
                {
                    <tr>
                        @foreach (var prop in history.GetType().GetProperties())
                    {
                            <td>@prop.GetValue(history)</td>
                        }
                    </tr>
                }
            
        </table>

        <div class="btn-group">
            @Html.PageLinks(Model, x => Url.Action("Index", new { page = x }))
        </div>
   @*</div>*@
